:root {
    --primary: #fff;
    --dark: #004f99;
    --light: #ddd;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
html {
    scroll-behavior: smooth;
  }

  .form_bg {
    background-color: #eee;
    color: #666;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    border: 1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 280px;
  }

  .profile {
    background-color: #eee;
    color: #666;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    border: 1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    min-height: 280px;
    height: auto;
    overflow: auto;
  }

  .form_bg_sign {
    background-color: #eee;
    color: #666;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    border: 1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 380px;
  }

  .modal-body {
    border: none;
    background-color: none;
  }

  .modal-content {
    border: none;
    background-color: rgba(255, 0, 0, 0);
  }


  #btnlogin {
    background-color: var(--dark);
    color: var(--primary);
  }

  #back-to-top-btn {
    display: none;
    background-color: var(--dark);
  }

  .align-left {
    text-align: left;
    display: inline;
  }

  .align-right {
    float: right;
  }

  .add {
    display: none;
  }

  #user {
    display: none;
  }

  .card {
    width: 17rem;
    display: inline-block;
    margin: 1% 1% 1% 1%;
    height: 350px;
  }

  .card-img-top {
    width: 100%;
    height: 148px;
  }


  #searchbar {
      width: 100%;
  }

  .boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
    background-color: var(--dark);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 2px 2px 3px #999;
    z-index: 1
  }

  a:hover {
    color: #FFF;
  }

hr {
    color: var(--dark);
}

h6 {
    padding: 5px;
}
  
  @media (max-width: 700px) {
    .card {
      margin: 2% 0% 2% 13%;
    }

    form {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  
  @media (max-width: 500px) {
    .card {
      margin: 2% 0% 2% 13%;
    }

    #searchbar {
      margin: 5px 0px 5px 5px;
    }

    .float {
      bottom: 50px;
    }
  }